body {
    background-color: #DDDDDD;
    font-family: YuGothicM, Meiryo;
}

button {
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

.video-table {
    width: 100%;
    text-align: center;
}

.input-range[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #c7c7c7;
    height: 2px;
    vertical-align: middle;
}

.input-range {
    cursor: pointer;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.input-range[type="range"]:focus {
    outline: none;
}

.input-range[type="range"]:active {
    outline: none;
}

.input-range[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    border: none;
    width: 12px;
    height: 12px;
    display: block;
    background-color: #262626;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.input-range[type="range"]:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, .6);
    transition: .4s;
}

.video-list {
    margin: 5px;
    padding: 10px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.video-list-active {
    color: #FFFFFF;
    background-color: #444444;
}

.note-table {
    padding: 10px;
    width: 100%;
}

.note-image {
    cursor: pointer;
}

.note-timecode {
    cursor: pointer;
}

.card-button {
    margin: 5px
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeInWide {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

.fade-out {
    animation-name: fadeOut;
    animation-duration: 0.5s;
    width: 32px;
    height: 32px;
}

@media screen and (max-width:800px) {
    body {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    .col {
        width: 800px;
        display: block;
    }
    .fade-in {
        animation-name: fadeIn;
        animation-duration: 0.5s;
    }
    .fade-out {
        animation-name: fadeOut;
        animation-duration: 0.5s;
        width: 32px;
        height: 32px;
    }
    /* .video-lists-table {
        display: none;
    } */
}

@media screen and (min-width:1400px) {
    .col {
        /* width: 800px; */
        vertical-align: top;
        display: inline-block;
    }
    .fade-in {
        animation-name: fadeInWide;
        animation-duration: 0.5s;
    }
    .fade-out {
        animation-name: fadeOut;
        animation-duration: 0.5s;
        width: 32px;
        height: 32px;
    }
    .video-lists-table {
        margin: 10px;
        display: table;
    }
}